.content {
	background-color: rgba(0,0,0,0.04);
	display: flex;
	flex-flow: column;
}

.title {
	font-family: 'Open Sans', sans-serif;
}

h1.title {
	font-weight: 800;
	font-size: 2rem;
}

h2.title {
	font-weight: 800;
	font-size: 1.6rem;
}

.description__primary {
	display: inline-block;
	font-weight: 800;
	margin-right: 2rem;
}

.description__secondary {
	display: inline-block;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: .2rem;
}

.description {
	font-family: 'Roboto Slab', sans-serif;
	line-height: 2rem;
	display: block;
} 

.description.--free-courses{
	display: flex;
	flex-flow: column;
}

.free-course__row {
	display: flex;
	justify-content: space-between;
}

.section {
	margin-top: 3rem;
}

.section .description {
	padding-bottom: 2rem;
	border-bottom: 1px solid rgba(0,0,0,0.1);
}

.technology__name {
	font-weight: 800;
}

.technologies__list {
	/*display: none;*/
}

.technologies__item {
	font-size: 12px;
}

.section__about-me {
    width: 100%;
    margin: 0 auto;
    display: flex;	
    flex-flow: column;
    align-items: center;
    text-align: center;
}

.picture {
	border-radius: 50%;
	width: 10rem;
}

.experience__item, .free-course__item {
	margin-bottom: 3rem;
}

.free-course__item .description__secondary,
.education__item .description__secondary {
	margin-left: 0;
	display: block;
}

@media (min-width: 1200px) {
    .content {
    	padding: 4rem 8rem 4rem 8rem;	
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
	.content {
    	padding: 4rem 6rem 4rem 6rem;	
    }
}

@media (min-width: 768px) and (max-width: 991px){
	.content {
    	padding: 4rem 4rem 4rem 4rem;	
    }
}

@media (min-width: 576px) and (max-width: 767px){
	.content {
    	padding: 4rem 2rem 4rem 2rem;
    }	
}

@media (max-width: 575px) {
	.content {
	}
}